In [1]:
# Import packages. 
import pandas as pd 
import os 

# Excel packages.
from openpyxl import Workbook as wb 
from openpyxl import load_workbook as lwb

In [3]:
# loaing packages. 
xl = pd.read_excel('extract_2022-11.xlsx', sheet_name = '205',engine='openpyxl', na_values=['nan'])

# View file
xl

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,EURO,429.45900000000006,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,USD,365,135,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,CONTAINER 205(1 X40FT),NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S/N,DESCRIPTION,CODE,QUANTITY,UNIT PRICE IN EURO,TOTAL PRICE IN EURO,UNIT PRICE IN NAIRA,TOTAL PRICE IN NAIRA,CLIENT,INVOICE NUMBER,INVOICE VALUE,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,SAY EXPORT,NaN,NaN,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,NaN,NaN,NaN,NaN,NaN,5586,NaN,2398957.974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NOBILIA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,FITTED KITCHEN UNITS/193 ALPINE WHITE,NB 21298848,1,12056.88,12056.88,5177935.62792,5177935.62792,TUNNEL END,RG2193315-0011,12056.88,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
c_list = []

for i in range(4): 
    c = xl.iloc[i, :].dropna().to_list()
    c_list.append(c)

for j in range(len(c_list)): 
    if len(c_list[j])>=1 and c_list[j][0][:3] == 'CON':
        code = c_list[j][0]
        code_idx = j
        header_idx = j + 1
        break

code,code_idx,header_idx

('CONTAINER 200(1 X40FT)', 1, 2)

In [4]:
# Column Header. 
columns = xl.iloc[header_idx,:].to_list()

columns

['S/N ',
 'DESCRIPTION',
 'CODE',
 'QUANTITY',
 nan,
 'UNIT PRICE IN EURO',
 'TOTAL PRICE IN EURO ',
 'UNIT PRICE IN NAIRA',
 'TOTAL PRICE IN NAIRA',
 'UNIT PRICE (NAIRA)',
 'TOTAL (NAIRA)',
 'CLIENT ',
 'INVOICE NUMBER',
 'INVOICE VALUE ',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [5]:
# converting first row to header. 
xl.columns = columns

# Deleting rows
xl.drop([i for i in range(header_idx+1)], axis=0, inplace=True)

# Reset_index
xl.reset_index(drop = True)

# Checking values.
xl

,S/N,DESCRIPTION,CODE,QUANTITY,NaN,UNIT PRICE IN EURO,TOTAL PRICE IN EURO,UNIT PRICE IN NAIRA,TOTAL PRICE IN NAIRA,UNIT PRICE (NAIRA),...,INVOICE VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,ODF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,ELECTRICAL TOWEL DRYER 3 BARS,OD 762 01,2,NaN,450.47,900.94,175683.3,351366.6,189196.679248,...,900.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,TOTAL,NaN,NaN,NaN,NaN,900.94,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,51,CLEAR MIRROR WITH 2 INTERGRATED LED LIGHTS/60X...,JK 5572.5.144,4,NaN,100.88,403.52,NaN,NaN,42369.438592,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,52,FLORA KIDS WORM MIRROR SEGMENT-BODY GREEN /32X...,LF 6161.2.472,10,NaN,84.4,844,NaN,NaN,35447.86496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,53,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,225413.14128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,54,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,225413.14128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,NaN,NaN,NaN,NaN,NaN,NaN,17285.68,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Creating columns.
xl['CONTAINER_CODE'] = code
xl['SUPPLIER_NAME'] = ' '

# Checking file
xl

,S/N,DESCRIPTION,CODE,QUANTITY,NaN,UNIT PRICE IN EURO,TOTAL PRICE IN EURO,UNIT PRICE IN NAIRA,TOTAL PRICE IN NAIRA,UNIT PRICE (NAIRA),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER_CODE,SUPPLIER_NAME
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
4,NaN,ODF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
5,1,ELECTRICAL TOWEL DRYER 3 BARS,OD 762 01,2,NaN,450.47,900.94,175683.3,351366.6,189196.679248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
6,NaN,TOTAL,NaN,NaN,NaN,NaN,900.94,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,51,CLEAR MIRROR WITH 2 INTERGRATED LED LIGHTS/60X...,JK 5572.5.144,4,NaN,100.88,403.52,NaN,NaN,42369.438592,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
219,52,FLORA KIDS WORM MIRROR SEGMENT-BODY GREEN /32X...,LF 6161.2.472,10,NaN,84.4,844,NaN,NaN,35447.86496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
220,53,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,225413.14128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
221,54,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,225413.14128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
222,NaN,NaN,NaN,NaN,NaN,NaN,17285.68,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),

In [29]:
# Drop columns that aren't needed
del xl[xl.columns[0]]

# Check 
xl

,DESCRIPTION,CODE,QUANTITY,NaN,UNIT PRICE IN EURO,TOTAL PRICE IN EURO,UNIT PRICE IN NAIRA,TOTAL PRICE IN NAIRA,UNIT PRICE (NAIRA),TOTAL (NAIRA),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER_CODE,SUPPLIER_NAME
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
4,ODF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
5,ELECTRICAL TOWEL DRYER 3 BARS,OD 762 01,2,NaN,450.47,900.94,175683.3,351366.6,189196.679248,378393.358496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
6,TOTAL,NaN,NaN,NaN,NaN,900.94,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,CLEAR MIRROR WITH 2 INTERGRATED LED LIGHTS/60X...,JK 5572.5.144,4,NaN,100.88,403.52,NaN,NaN,42369.438592,169477.754368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
219,FLORA KIDS WORM MIRROR SEGMENT-BODY GREEN /32X...,LF 6161.2.472,10,NaN,84.4,844,NaN,NaN,35447.86496,354478.6496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
220,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,225413.14128,225413.14128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
221,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,225413.14128,225413.14128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),
222,NaN,NaN,NaN,NaN,NaN,17285.68,NaN,NaN,NaN,7259957.942912,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),

In [30]:
# Supplier and item code list 
supplier = xl['DESCRIPTION'].fillna('re').to_list()
item_code = xl['CODE'].fillna('re').to_list()
quantity = xl['QUANTITY'].fillna('re').to_list()

# Check
supplier[:5], item_code[:5], quantity[:5]

(['re', 'ODF', 'ELECTRICAL TOWEL DRYER 3 BARS', 'TOTAL', 're'],
 ['re', 're', 'OD 762 01', 're', 're'],
 ['re', 're', 2, 're', 're'])

In [31]:
supplier_name = []
for i in range(len(supplier)):
    if supplier[i] != 're' and item_code[i] == 're' and quantity[i] == 're':
        supplier_name.append(supplier[i])
    elif supplier[i] == 're' and item_code[i] == 're'and quantity[i] == 're':
        supplier_name.append('delete_row')
    else:
        cont=supplier_name[-1].replace('~', '')
        supplier_name.append(f'{cont}~')

In [32]:
 # Checking values. 
supplier_name

['delete_row',
 'ODF',
 'ODF~',
 'TOTAL',
 'delete_row',
 'KASO',
 'KASO~',
 'KASO~',
 'KASO~',
 'TOTAL',
 'delete_row',
 'ARMADI ART',
 'ARMADI ART~',
 'TOTAL',
 'delete_row',
 'BOSSINI',
 'BOSSINI~',
 'BOSSINI~',
 'BOSSINI~',
 'BOSSINI~',
 'BOSSINI~',
 'BOSSINI~',
 'TOTAL',
 'PLASTIC PALLET',
 'delete_row',
 'delete_row',
 'ZUCCHETTI. KOS',
 'ZUCCHETTI. KOS~',
 'INVOICE TOTAL',
 'delete_row',
 'SETTENCENTO',
 'SETTENCENTO~',
 'SETTENCENTO~',
 'SETTENCENTO~',
 'SETTENCENTO~',
 'SETTENCENTO~',
 'SETTENCENTO~',
 'INVOICE TOTAL',
 'delete_row',
 'DURAVIT',
 'DURAVIT~',
 'DURAVIT~',
 'INVOICE TOTAL',
 'delete_row',
 'HUPPE',
 'HUPPE~',
 'HUPPE~',
 'HUPPE~',
 'HUPPE~',
 'INVOICE TOTAL',
 'delete_row',
 'INDA',
 'INDA~',
 'INDA~',
 'INDA~',
 'INDA~',
 'INDA~',
 'delete_row',
 'delete_row',
 'GEBERIT',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'GEBERIT~',
 'delete_row',
 'delete_row',
 'REMER',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'REMER~',
 'delete_row',
 'delete_row',
 'GEDY',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'GEDY~',
 'INVOICE TOTAL',
 'delete_row',
 'POLIFORM',
 'POLIFORM~',
 'delete_row',
 'delete_row',
 'COLAVENE',
 'COLAVENE~',
 'COLAVENE~',
 'COLAVENE~',
 'COLAVENE~',
 'COLAVENE~',
 'COLAVENE~',
 'COLAVENE~',
 'COLAVENE~',
 'delete_row',
 'delete_row',
 'COLOMBO',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'COLOMBO~',
 'INVOICE TOTAL',
 'delete_row',
 'LAUFEN',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'LAUFEN~',
 'delete_row']

In [33]:
# Defining supplier name
xl['SUPPLIER_NAME'] = supplier_name

xl

,DESCRIPTION,CODE,QUANTITY,NaN,UNIT PRICE IN EURO,TOTAL PRICE IN EURO,UNIT PRICE IN NAIRA,TOTAL PRICE IN NAIRA,UNIT PRICE (NAIRA),TOTAL (NAIRA),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER_CODE,SUPPLIER_NAME
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),delete_row
4,ODF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),ODF
5,ELECTRICAL TOWEL DRYER 3 BARS,OD 762 01,2,NaN,450.47,900.94,175683.3,351366.6,189196.679248,378393.358496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),ODF~
6,TOTAL,NaN,NaN,NaN,NaN,900.94,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),TOTAL
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),delete_row
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,CLEAR MIRROR WITH 2 INTERGRATED LED LIGHTS/60X...,JK 5572.5.144,4,NaN,100.88,403.52,NaN,NaN,42369.438592,169477.754368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),LAUFEN~
219,FLORA KIDS WORM MIRROR SEGMENT-BODY GREEN /32X...,LF 6161.2.472,10,NaN,84.4,844,NaN,NaN,35447.86496,354478.6496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),LAUFEN~
220,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,225413.14128,225413.14128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),LAUFEN~
221,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,225413.14128,225413.14128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),LAUFEN~
222,NaN,NaN,NaN,NaN,NaN,17285.68,NaN,NaN,NaN,7259957.942912,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),delete_row

In [34]:
# Rows to Delete.
delete_row = xl[xl['SUPPLIER_NAME'] == 'delete_row'].index.to_list()

In [35]:
# Drop rows. 
xl.drop(delete_row, axis = 0, inplace = True)

# Reset index. 
xl = xl.reset_index(drop = True)

In [36]:
xl

,DESCRIPTION,CODE,QUANTITY,NaN,UNIT PRICE IN EURO,TOTAL PRICE IN EURO,UNIT PRICE IN NAIRA,TOTAL PRICE IN NAIRA,UNIT PRICE (NAIRA),TOTAL (NAIRA),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER_CODE,SUPPLIER_NAME
0,ODF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),ODF
1,ELECTRICAL TOWEL DRYER 3 BARS,OD 762 01,2,NaN,450.47,900.94,175683.3,351366.6,189196.679248,378393.358496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),ODF~
2,TOTAL,NaN,NaN,NaN,NaN,900.94,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),TOTAL
3,KASO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),KASO
4,KASO E1-420 EUROSAFE(KEY LOCK/CUTTING/ADJUSTAB...,E1-420,1,NaN,900,900,382695.3,382695.3,377998.56,377998.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),KASO~
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,CLEAR MIRROR WITH 2 INTERGRATED LED LIGHTS/60X...,JK 5572.5.144,4,NaN,100.88,403.52,NaN,NaN,42369.438592,169477.754368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),LAUFEN~
193,CLEAR MIRROR WITH 2 INTERGRATED LED LIGHTS/60X...,JK 5572.5.144,4,NaN,100.88,403.52,NaN,NaN,42369.438592,169477.754368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),LAUFEN~
194,FLORA KIDS WORM MIRROR SEGMENT-BODY GREEN /32X...,LF 6161.2.472,10,NaN,84.4,844,NaN,NaN,35447.86496,354478.6496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),LAUFEN~
195,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,225413.14128,225413.14128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),LAUFEN~
196,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,225413.14128,225413.14128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTAINER 200(1 X40FT),LAUFEN~

In [37]:
# Rows that aren't needed.
sup_del = xl[xl['SUPPLIER_NAME'] == xl['DESCRIPTION']].index

In [38]:
# Drop rows. 
xl.drop(sup_del, axis = 0, inplace = True)

# Reset index. 
xl = xl.reset_index(drop = True)

In [39]:
# Reordering columns 
xl = xl.loc[:, xl.columns[-2:].to_list() + xl.columns[:-2].to_list()]

# Checking columns order
xl.columns

# Veiwing result. 
xl

,CONTAINER_CODE,SUPPLIER_NAME,DESCRIPTION,CODE,QUANTITY,NaN,UNIT PRICE IN EURO,TOTAL PRICE IN EURO,UNIT PRICE IN NAIRA,TOTAL PRICE IN NAIRA,...,INVOICE VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,CONTAINER 200(1 X40FT),ODF~,ELECTRICAL TOWEL DRYER 3 BARS,OD 762 01,2,NaN,450.47,900.94,175683.3,351366.6,...,900.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CONTAINER 200(1 X40FT),KASO~,KASO E1-420 EUROSAFE(KEY LOCK/CUTTING/ADJUSTAB...,E1-420,1,NaN,900,900,382695.3,382695.3,...,6015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CONTAINER 200(1 X40FT),KASO~,KASO E-320 EUROSAFE (DOOR PANEL/KEY LOCK/ADJUS...,E-320SP,2,NaN,1170,2340,497503.89,995007.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CONTAINER 200(1 X40FT),KASO~,KASO E-330 EUROSAFE(DOOR PANEL/KEY LOCK/ADJUST...,E-330SP,2,NaN,1387.5,2775,589988.5875,1179977.175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CONTAINER 200(1 X40FT),ARMADI ART~,ARMADI ART CRYSTALL 100 DELMAR CABINET AND GLA...,CRYSTAL 110,1,NaN,774.5,774.5,329330.5665,329330.5665,...,774.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,CONTAINER 200(1 X40FT),LAUFEN~,CLEAR MIRROR WITH 2 INTERGRATED LED LIGHTS/60X...,JK 5572.5.144,4,NaN,100.88,403.52,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,CONTAINER 200(1 X40FT),LAUFEN~,CLEAR MIRROR WITH 2 INTERGRATED LED LIGHTS/60X...,JK 5572.5.144,4,NaN,100.88,403.52,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,CONTAINER 200(1 X40FT),LAUFEN~,FLORA KIDS WORM MIRROR SEGMENT-BODY GREEN /32X...,LF 6161.2.472,10,NaN,84.4,844,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,CONTAINER 200(1 X40FT),LAUFEN~,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,CONTAINER 200(1 X40FT),LAUFEN~,CASE PALACE VANITY 2 DRWER FOR 1670.5/WHGLOSSY,LF 0160.2.475,1,NaN,536.7,536.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
xl.to_csv()

',CONTAINER_CODE,SUPPLIER_NAME,CODE,DESCRIPTION,QUANTITY,CLIENT ,UNIT PRICE IN EURO,TOTAL PRICE IN EURO,UNIT PRICE IN NAIRA,TOTAL PRICE IN NAIRA,INVOICE NUMBER,INVOICE VALUE\r\n0,CONTAINER 367 - 369(3X40FT),DIQUIGIVANNI~,,DIQUIGIOVANNI WINDOWS FOR ALTONA,LOTS,THE ALTONA,85036.79,85036.79,47973505.078499995,47973505.0785,1443/1444,85036.79\r\n1,CONTAINER 367 - 369(3X40FT),DEDON~,DD 10003899,BABYLON PLANTER/COPPER,1,EMEKA DJIDOH,684,684,326268,326268,5344,684\r\n2,CONTAINER 367 - 369(3X40FT),LAUFEN~,JK 2137.0.000,DINO W/HUNG WC PAN WASHDOWN,80,STOCK,20.38,1630.3999999999999,11497.376999999999,919790.1599999999,1390221590,1630.3999999999999\r\n3,CONTAINER 367 - 369(3X40FT),SICIS~,,BALANCE WALL & POOL TILES FOR ALTONA,LOTS,THE ALTONA,,,,,,\r\n4,CONTAINER 367 - 369(3X40FT),DIQUIGIVANNI~,,DIQUIGIVANNI WINDOWS FOR ALTONA,LOTS,THE ALTONA,,,,,,\r\n'

In [ ]:
columns